<!DOCTYPE html>
<html lang="nb-NO">
<head>
    <meta charset="UTF-8"/>
    <title>{{> doctitle}}</title>
    <meta name="description" content="{{> docdescription}}"/>
    <meta name="subject" content="{{> docsubject}}"/>
    <meta name="author" content="NAV IT"/>
    {{#block 'meldekort-backend/partials/style' }}
    {{/block}}
</head>
<body>
<div class="navlogo-wrapper">
    <img class="navlogo" alt="nav logo" src="{{ image "Hvit-resized.png" }}"/>
</div>
<div class="title-wrapper">
    <h1>{{> title}}</h1>
</div>
<div class="container">
    <div class="personinfo">
        <div class="persontekst">
            <div class="persontekst__sidetopp">
                <img class="personikon" alt="person ikon" src="{{ image "Personikon.png" }}"/>
                <div class="persontekst__personalia">
                    <p class="id">
                        {{ insert_at ident 6 }}
                    </p>
                </div>
                <div class="sendt">
                    <p>
                        Meldekort mottatt<br/>{{ sendtInnDato }} {{ sendtInnUtc }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="temacontainer">
        {{# if meldekort.harDuArbeidet}}
            <p>
                Har du arbeidet?: Ja
            </p>
        {{/if}}

        {{# unless meldekort.harDuArbeidet}}
            <p>
                Har du arbeidet?: Nei
            </p>
        {{/unless}}

        {{#each meldekort.timerArbeidPerPeriode as |periode|~}}
            <div class="tema">
                <h2 class="tema">{{ periode.fraOgMedDato }} - {{ periode.tilOgMedDato }}</h2>
                <p>Antall timer arbeidet: {{periode.timerArbeid}}</p>
            </div>
        {{/each}}
    </div>
</div>
<div id="footer">
    <span class="soknadsid">Hva skal vi ha her?</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
